<h1>New Location Look Up</h1>

<form action ="http://localhost:3000/weather">
  <div>
    <label for="new_lat">Enter New location latitude:</label>
    <input id="new_lat" type="text" name="new_lat">
  </div>

  <div>
    <label for="new_longitude">Enter New location longitude:</label>
    <input id="new_longitude" type="text" name="new_longitude">
  </div>

   <div>
    <input type="submit">
  </div>

 </form>
